* {
  color: #101419;
  font-family: "Inter", sans-serif;
}

body {
  background: url("src/assets/gradient.avif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.weather-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.weather-box {
  display: flex;
  flex-direction: column;
  background: #ffff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-box h2 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.weather-box p {
  margin: 5px 0;
}

.icon-condition {
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    height: 45px;
    width: 45px;
    float: left;
    padding-right: 8px;
  }

  .condition {
    display: inline;
  }
}
.search-bar {
  margin: 25px;
  display: flex;
  justify-content: center;
}

.search-bar form {
  position: relative;
  width: 500px;
}

.search-bar input {
  width: 100%;
  padding: 10px; /* space for icon on right */
  border-radius: 25px;
  border: none;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* THIS is the key part */
.search-bar button {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  background: none;
  cursor: pointer;
}
